<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>引擎模版</title>
</head>
<body>
    <img src="/nest-logo.png">
    <div>
        <p>name: {{ name }}</p>
        <p>age: {{ age }}</p>
    </div>
</body>
</html>l